Repository GoogleCloudPlatform/cloud-image-tests, pull requests merged in 2024-09, with the labels that each got.

#86 Remove Ubuntu specific package installation in the TDX attestation test
  test_suites/cvm/cvm_test.go
Labels: size/S, ok-to-test

#90 Improve error messages for osconfig-agent services cleanerupper
  cleanerupper/cleanerupper.go
Labels: size/S

#107 fix: Add 22.04 6.8 kernel version filtering to TDX test
  test_suites/cvm/cvm_test.go
Labels: size/S, needs-ok-to-test
